.slide-show-container {
    position: relative;
    height: 700px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);


	.image-select-container{
    	position: relative;
    	width: auto;
    }

    .current-image{
		position: relative;
		width: 100%;
		height: 100%;
	}

    .image-item {
        position: relative;
        height: 100px;
        width: 100px;
        margin: 10px;
        display: inline-block;
        float: left;
    }
}