.square-container {
    height: 600px;
    position: relative;
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 40px;
}

.cart-item {
    position: relative;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;

    .cart-item-image {
        width: 100px;
        height: 100px;
        top: 0px;
        left: 0px;
        background-color: lightblue;
        display: inline-block;
        float: left;
    }

    .cart-item-name {
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 20px;
        top: 0px;
    }
    .click-link{
    	display: inline-block;
    	font-weight: 400;
    	margin-left: 10px;
    	&:hover{
    		text-decoration: underline;
    	}
    }

    .cart-item-size {
        position: relative;
        font-size: 1.2rem;
        font-weight: 400;
        display: inline-block;
		margin-left: 20px;
    }

    .cart-item-cost {
        position: relative;
        font-size: 1.2rem;
        font-weight: 400;
        display: inline-block;
        margin-left: 20px;
    }

    .cart-item-quantity {
        position: relative;
        font-size: 1.2rem;
        font-weight: 400;
        display: inline-block;
        margin-left: 20px;
    }
}

.account-section-container{
    position: relative;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 401px);
    float: left;
}


.content-container {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    left: 0%;
    margin: 0 auto;

    .account-nav-container {
        position: relative;
        left: 0px;
        width: 400px;
        height: 100%;
        padding: 0px;
        margin: 0px;
        float: left;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        background-color: #3C5E73;

        .account-nav-list {
            list-style: none;
            height: auto;
            position: relative;
            margin: 0px;
            padding: 0px;
            float: right;
            margin-right: 20px;

            .account-button {
                position: relative;
                width: 200px;
                margin: 10px;
                height: calc(100% - 13px);
                padding: 13px 0px 0px 0px;
                text-align: right;
                font-weight: 600;
                color: white;
                transition: color 0.2s;

                &:hover{
                    color: #CDE3F9;
                }

            }
        }
    }
}